extends layout 
block content 
  h1=title 
    -let results=[{name:"America",state:"New York",stateranking:1},{name:"Australia",state:"Sydney",stateranking:2},{name:"France",state:"Paris",stateranking:3}]
  div(class="container-fluid")
  div(class="row")
    each Atlas,index in results 
                table(style='width:100%')
                    tr 
                        div(class="col-sm-2" onclick=`buy(${index})`) #{Atlas.name}
                        div(class="col-sm-2" onclick=`buy(${index})`) #{Atlas.state}
                        div(class="col-sm-2" onclick=`buy(${index})`) #{Atlas.stateranking}

    script.
     
      function buy(itemNo)
      {
        alert(`Your destination ${itemNo+1}`)
      }
    